#!/bin/sh
ei_server_dir={{ carbon_home }}/repository/deployment/server/
#pem_file=~/.ssh/carbon-440-test.pem
pem_file=~{{ wso2_user }}/.ssh/id_rsa.pub  
  
#delete the lock on exit
trap 'rm -rf /var/lock/depsync-lock' EXIT
  
mkdir /tmp/carbon-rsync-logs/
  
  
#keep a lock to stop parallel runs
if mkdir /var/lock/depsync-lock; then
  echo "Locking succeeded" >&2
else
  echo "Lock failed - exit" >&2
  exit 1
fi
  
  
#get the nodes-list.txt
pushd `dirname $0` > /dev/null
SCRIPTPATH=`pwd`
popd > /dev/null
echo $SCRIPTPATH
  
  
for x in `cat ${SCRIPTPATH}/nodes-list.txt`
do
echo ================================================== >> /tmp/carbon-rsync-logs/logs.txt;
echo Syncing $x;
rsync --delete -arve "ssh -i  $pem_file -o StrictHostKeyChecking=no" $ei_server_dir $x >> /tmp/carbon-rsync-logs/logs.txt
echo ================================================== >> /tmp/carbon-rsync-logs/logs.txt;
done

